.hide{
    display:none
}

.show{
    display: block;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    flex-direction: column;
}  